# ===========================
# Python
# ===========================
.venv/
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Python Cache
*.pyo
*.pyd

# Build
build/
dist/
*.egg-info/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini